<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=“https://www.w3.org/1999/xhtml”>
	<head>
		<title>Worksample: Order</title>
		<meta http–equiv=“Content-Type” content=“text/html; charset=UTF-8” />
		<meta http–equiv=“X-UA-Compatible” content=“IE=edge” />
		<meta name=“viewport” content=“width=device-width, initial-scale=1.0 “ />
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0">
		  <tr>
			<td>Dear {{username}},</td>
		  </tr>
		  <tr>
			<td>You placed order #{{orderId}}.</td>
		  </tr>
		  <tr>
			<td>Items in order:</td>
		  </tr>
		</table>  
		
		<table cellspacing="0" cellpadding="0" border="0">
		  <tr>
			<th width="400">caption</th>			
			<th width="80">unit cost(&#8358;)</th>
			<th width="80">quantity</th>			
			<th width="80">sub total(&#8358;)</th>
		  </tr>
		  {{#each items}}
		  <tr>
			<td style="text-align:left">{{caption}}</td>
			<td style="text-align:right">{{price}}</td>
			<td style="text-align:right">{{quantity}}</td>
			<td style="text-align:right">{{subtotal}}</td>
		  </tr>
		  {{/each}}
		  <tr>
			<td></td>
			<td></td>
			<td style="text-align:right">Total</td>
			<td style="text-align:right">{{total}}</td>
		  </tr>
		</table>
		<table cellspacing="0" cellpadding="0" border="0">
		  <tr>
			<td>Worksample</td>
		  </tr>
		</table>
	</body>
</head>